@import '../../styles/main.scss';

.bannerMainCont {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.banner {
  display: flex;
  position: relative;
  height: size(221);
  width: 100%;
}

.bannerImages {
  display: flex;
  transition: transform 0.5s ease;

  img {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.bannerImgCont {
  width: calc(100vw - size(20));
  padding: size(10);
}

.bannerImage {
  object-fit: cover;
  border-radius: size(5);
}