@import '../../styles/main.scss';

.searchBar {
  width: 80vw;
  height: size(60);
  padding: size(10);
  display: flex;
  align-items: center;

  input {
    border: 1px solid $primary-color;
    border-radius: size(8);
    height: calc(size(60) - size(20));
    width: calc(80vw - size(20));
    font-size: size(16);
    padding: size(5) size(10);
  }
}